***Pair Group By y Apply***

In [13]:
import pandas as pd
import numpy as np

**Ejercicios apply**

1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [14]:
df = pd.read_csv("file/world_data_full.csv")
df.head()

,Unnamed: 0,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,...,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,...,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,...,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,...,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,...,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,...,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887

In [41]:
col_to_numeric = [
    "land_area", "armed_forces_size", "co2_emissions", "gdp", "population",
    "urban_population", "latitude", "longitude", "density", "cpi"
]

def convertir_a_numerico(df, columnas):
    for col in columnas:
        if col in df.columns:      
            df[col] = df[col].astype(str)
            df[col] = df[col].str.replace(",", "")
            df[col] = df[col].str.replace("%", "")
            df[col] = pd.to_numeric(df[col], errors="coerce")
        else:
            print("La columna '{}' no existe en el DataFrame.".format(col))
    return df

df = convertir_a_numerico(df, col_to_numeric)

La columna 'co2_emissions' no existe en el DataFrame.

In [42]:
print(df.columns.tolist())

['Unnamed: 0', 'country', 'density', 'abbreviation', 'agricultural_land', 'land_area', 'armed_forces_size', 'birth_rate', 'calling_code', 'capital/major_city', 'co2-emissions', 'cpi', 'cpi_change', 'currency-code', 'fertility_rate', 'forested_area', 'gasoline_price', 'gdp', 'gross_primary_education_enrollment', 'gross_tertiary_education_enrollment', 'infant_mortality', 'largest_city', 'life_expectancy', 'maternal_mortality_ratio', 'minimum_wage', 'official_language', 'out_of_pocket_health_expenditure', 'physicians_per_thousand', 'population', 'population_labor_force_participation', 'tax_revenue', 'total_tax_rate', 'unemployment_rate', 'urban_population', 'latitude', 'longitude', 'Continent']

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [43]:
continents = {
    'Afghanistan': 'Asia',
    'Albania': 'Europa',
    'Algeria': 'África',
    'Andorra': 'Europa',
    'Angola': 'África',
    'Antigua and Barbuda': 'América',
    'Argentina': 'América',
    'Armenia': 'Asia',
    'Australia': 'Oceanía',
    'Austria': 'Europa',
    'Azerbaijan': 'Asia',
    'The Bahamas': 'América',
    'Bahrain': 'Asia',
    'Bangladesh': 'Asia',
    'Barbados': 'América',
    'Belarus': 'Europa',
    'Belgium': 'Europa',
    'Belize': 'América',
    'Benin': 'África',
    'Bhutan': 'Asia',
    'Bolivia': 'América',
    'Bosnia and Herzegovina': 'Europa',
    'Botswana': 'África',
    'Brazil': 'América',
    'Brunei': 'Asia',
    'Bulgaria': 'Europa',
    'Burkina Faso': 'África',
    'Burundi': 'África',
    'Ivory Coast': 'África',
    'Cape Verde': 'África',
    'Cambodia': 'Asia',
    'Cameroon': 'África',
    'Canada': 'América',
    'Central African Republic': 'África',
    'Chad': 'África',
    'Chile': 'América',
    'China': 'Asia',
    'Colombia': 'América',
    'Comoros': 'África',
    'Republic of the Congo': 'África',
    'Costa Rica': 'América',
    'Croatia': 'Europa',
    'Cuba': 'América',
    'Cyprus': 'Asia',
    'Czech Republic': 'Europa',
    'Democratic Republic of the Congo': 'África',
    'Denmark': 'Europa',
    'Djibouti': 'África',
    'Dominica': 'América',
    'Dominican Republic': 'América',
    'Ecuador': 'América',
    'Egypt': 'África',
    'El Salvador': 'América',
    'Equatorial Guinea': 'África',
    'Eritrea': 'África',
    'Estonia': 'Europa',
    'Eswatini': 'África',
    'Ethiopia': 'África',
    'Fiji': 'Oceanía',
    'Finland': 'Europa',
    'France': 'Europa',
    'Gabon': 'África',
    'The Gambia': 'África',
    'Georgia': 'Asia',
    'Germany': 'Europa',
    'Ghana': 'África',
    'Greece': 'Europa',
    'Grenada': 'América',
    'Guatemala': 'América',
    'Guinea': 'África',
    'Guinea-Bissau': 'África',
    'Guyana': 'América',
    'Haiti': 'América',
    'Vatican City': 'Europa',
    'Honduras': 'América',
    'Hungary': 'Europa',
    'Iceland': 'Europa',
    'India': 'Asia',
    'Indonesia': 'Asia',
    'Iran': 'Asia',
    'Iraq': 'Asia',
    'Republic of Ireland': 'Europa',
    'Israel': 'Asia',
    'Italy': 'Europa',
    'Jamaica': 'América',
    'Japan': 'Asia',
    'Jordan': 'Asia',
    'Kazakhstan': 'Asia',
    'Kenya': 'África',
    'Kiribati': 'Oceanía',
    'Kuwait': 'Asia',
    'Kyrgyzstan': 'Asia',
    'Laos': 'Asia',
    'Latvia': 'Europa',
    'Lebanon': 'Asia',
    'Lesotho': 'África',
    'Liberia': 'África',
    'Libya': 'África',
    'Liechtenstein': 'Europa',
    'Lithuania': 'Europa',
    'Luxembourg': 'Europa',
    'Madagascar': 'África',
    'Malawi': 'África',
    'Malaysia': 'Asia',
    'Maldives': 'Asia',
    'Mali': 'África',
    'Malta': 'Europa',
    'Marshall Islands': 'Oceanía',
    'Mauritania': 'África',
    'Mauritius': 'África',
    'Mexico': 'América',
    'Federated States of Micronesia': 'Oceanía',
    'Moldova': 'Europa',
    'Monaco': 'Europa',
    'Mongolia': 'Asia',
    'Montenegro': 'Europa',
    'Morocco': 'África',
    'Mozambique': 'África',
    'Myanmar': 'Asia',
    'Namibia': 'África',
    'Nauru': 'Oceanía',
    'Nepal': 'Asia',
    'Netherlands': 'Europa',
    'New Zealand': 'Oceanía',
    'Nicaragua': 'América',
    'Niger': 'África',
    'Nigeria': 'África',
    'North Korea': 'Asia',
    'North Macedonia': 'Europa',
    'Norway': 'Europa',
    'Oman': 'Asia',
    'Pakistan': 'Asia',
    'Palau': 'Oceanía',
    'Palestinian National Authority': 'Asia',
    'Panama': 'América',
    'Papua New Guinea': 'Oceanía',
    'Paraguay': 'América',
    'Peru': 'América',
    'Philippines': 'Asia',
    'Poland': 'Europa',
    'Portugal': 'Europa',
    'Qatar': 'Asia',
    'Romania': 'Europa',
    'Russia': 'Europa/Asia',
    'Rwanda': 'África',
    'Saint Kitts and Nevis': 'América',
    'Saint Lucia': 'América',
    'Saint Vincent and the Grenadines': 'América',
    'Samoa': 'Oceanía',
    'San Marino': 'Europa',
    'Saudi Arabia': 'Asia',
    'Senegal': 'África',
    'Serbia': 'Europa',
    'Seychelles': 'África',
    'Sierra Leone': 'África',
    'Singapore': 'Asia',
    'Slovakia': 'Europa',
    'Slovenia': 'Europa',
    'Solomon Islands': 'Oceanía',
    'Somalia': 'África',
    'South Africa': 'África',
    'South Korea': 'Asia',
    'South Sudan': 'África',
    'Spain': 'Europa',
    'Sri Lanka': 'Asia',
    'Sudan': 'África',
    'Suriname': 'América',
    'Sweden': 'Europa',
    'Switzerland': 'Europa',
    'Syria': 'Asia',
    'Tajikistan': 'Asia',
    'Tanzania': 'África',
    'Thailand': 'Asia',
    'East Timor': 'Asia',
    'Togo': 'África',
    'Tonga': 'Oceanía',
    'Trinidad and Tobago': 'América',
    'Tunisia': 'África',
    'Turkey': 'Asia/Europa',
    'Turkmenistan': 'Asia',
    'Tuvalu': 'Oceanía',
    'Uganda': 'África',
    'Ukraine': 'Europa',
    'United Arab Emirates': 'Asia',
    'United Kingdom': 'Europa',
    'United States': 'América',
    'Uruguay': 'América',
    'Uzbekistan': 'Asia',
    'Vanuatu': 'Oceanía',
    'Venezuela': 'América',
    'Vietnam': 'Asia',
    'Yemen': 'Asia',
    'Zambia': 'África',
    'Zimbabwe': 'África'
}

def agregar_continente(df):
    df["Continent"] = df["country"].map(continents)
    return df
df = agregar_continente(df)

In [44]:
df

,Unnamed: 0,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,...,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,Continent
0,0,Afghanistan,60,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,...,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,Asia
1,1,Albania,105,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,...,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europa
2,2,Algeria,18,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,...,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626,África
3,3,Andorra,164,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,...,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801,Europa
4,4,Angola,26,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,...,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887,África
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,Venezuela,32,VE,24.5,912050.0,343000.0,17.88,58.0,Caracas,...,1.92,28515829.0,59.7,NaN,73.3,8.80,25162368.0,6.423750,-66.589730,América
191,191,Vietnam,314,VN,39.3,331210.0,522000.0,16.75,84.0,Hanoi,...,0.82,96462106.0,77.4,19.1,37.6,2.01,35332140.0,14.058324,108.277199,Asia
192,192,Yemen,56,YE,44.6,527968.0,40000.0,30.45,967.0,Sanaa,...,0.31,29161922.0,38.0,NaN,26.6,12.91,10869523.0,15.552727,48.516388,Asia
193,193,Zambia,25,ZM,32.1,752618.0,16000.0,36.19,260.0,Lusaka,...,1.19,17861030.0,74.6,16.2,15.6,11.43,7871713.0,-13.133897,27.849332,África
194,194,Zimbabwe,38,ZW,41.9,390757.0,51000.0,30.68,263.0,Harare,...,0.21,14645468.0,83.1,20.7,31.6,4.95,4717305.0,-19.015438,29.154857,África

3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo posteriormente.

In [ ]:
df.to_csv("file/world_dato_clean.csv", index=False)

**Ejercicios groupby**

1. ¿Cuál es la densidad de población promedio por continente?

In [45]:
df.groupby("Continent")["density"].mean()

Continent
América        132.657143
Asia           453.446809
Asia/Europa    110.000000
Europa         816.441860
Europa/Asia      9.000000
Oceanía        185.000000
África         105.094340
Name: density, dtype: float64

2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [49]:
df.groupby("official_language")["life_expectancy"].mean()

official_language
Afrikaans            63.900000
Albanian             78.500000
Amharic              66.200000
Arabic               72.864706
Armenian             74.900000
                       ...
Tuvaluan Language          NaN
Ukrainian            71.600000
Urdu                 67.100000
Uzbek                71.600000
Vietnamese           75.300000
Name: life_expectancy, Length: 76, dtype: float64

3. ¿Cuál es la tasa de mortalidad infantil promedio por moneda?

In [51]:
df_mortalidad = (df.groupby('currency-code')
      .agg(tasa_mortalidad_infantil_promedio=('infant_mortality', 'mean'))
      .reset_index()
      .sort_values(by='tasa_mortalidad_infantil_promedio', ascending=False))
df_mortalidad

    currency-code  tasa_mortalidad_infantil_promedio
104           SLL                               78.5
105           SOS                               76.6
81            NGN                               75.7
21            CDF                               68.2
43            GNF                               64.9
..            ...                                ...
103           SGD                                2.3
102           SEK                                2.2
83            NOK                                2.1
55            ISK                                1.5
72            MKD                                NaN

[133 rows x 2 columns]

4. ¿Cuál es el salario mínimo por continente?

In [48]:
df.groupby("Continent")["minimum_wage"].mean()

Continent
América        2.031250
Asia           1.419444
Asia/Europa    3.450000
Europa         4.921935
Europa/Asia    0.530000
Oceanía        3.917778
África         0.530000
Name: minimum_wage, dtype: float64

5. ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:

- Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".

- Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".

- Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.

- Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

In [55]:
tasa_impuestos_continente = df.groupby("Continent")["total_tax_rate"].mean()
print("Tasa de impuestos total promedio por continente:")
print(tasa_impuestos_continente)

Tasa de impuestos total promedio por continente:
Continent
América        45.161765
Asia           31.802273
Asia/Europa    42.300000
Europa         38.453846
Europa/Asia    46.200000
Oceanía        39.516667
África         47.770588
Name: total_tax_rate, dtype: float64

In [56]:
densidad_continente = df.groupby("Continent")["density"].mean()
print("\nDensidad poblacional promedio por continente:")
print(densidad_continente)

Densidad poblacional promedio por continente:
Continent
América        132.657143
Asia           453.446809
Asia/Europa    110.000000
Europa         816.441860
Europa/Asia      9.000000
Oceanía        185.000000
África         105.094340
Name: density, dtype: float64

In [57]:
df["tax_per_density"] = df["total_tax_rate"] / df["density"]
print("\nColumna 'tax_per_density' creada (primeras filas):")
print(df[["country", "Continent", "tax_per_density"]].head())

Columna 'tax_per_density' creada (primeras filas):
       country Continent  tax_per_density
0  Afghanistan      Asia         1.190000
1      Albania    Europa         0.348571
2      Algeria    África         3.672222
3      Andorra    Europa              NaN
4       Angola    África         1.888462

In [58]:
pais_max_tax_density = df.loc[df["tax_per_density"].idxmax()]
print("\nPaís con la mayor tasa de impuestos por densidad poblacional:")
print(pais_max_tax_density[["country", "Continent", "tax_per_density"]])

País con la mayor tasa de impuestos por densidad poblacional:
country            Australia
Continent            Oceanía
tax_per_density         15.8
Name: 8, dtype: object

6. ¿Cuál es el porcentaje de población urbana promedio por continente?

In [59]:
promedio_urbano = df.groupby("Continent")["urban_population"].mean()

print("Porcentaje promedio de población urbana por continente:")
print(promedio_urbano)

Porcentaje promedio de población urbana por continente:
Continent
América        2.344571e+07
Asia           4.801185e+07
Asia/Europa    6.309782e+07
Europa         1.092435e+07
Europa/Asia    1.076839e+08
Oceanía        2.171336e+06
África         1.080102e+07
Name: urban_population, dtype: float64

7. ¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:

- Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

- Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

In [60]:
grupo = df.groupby("official_language")[["gdp", "out_of_pocket_health_expenditure"]].mean()
print("Promedios por idioma oficial:")
print(grupo)

Promedios por idioma oficial:
                            gdp  out_of_pocket_health_expenditure
official_language
Afrikaans          3.514316e+11                               7.7
Albanian           1.527808e+10                              56.9
Amharic            9.610766e+10                              37.8
Arabic             1.366153e+11                              38.0
Armenian           1.367280e+10                              81.6
...                         ...                               ...
Tuvaluan Language  4.727146e+07                               0.7
Ukrainian          1.537811e+11                              47.8
Urdu               3.044000e+11                              66.5
Uzbek              5.792129e+10                              42.7
Vietnamese         2.619212e+11                              43.5

[76 rows x 2 columns]

In [61]:
grupo["difference"] = grupo["gdp"] - grupo["out_of_pocket_health_expenditure"]
print("\nDiferencia entre PIB promedio y gasto en salud de bolsillo promedio por idioma:")
print(grupo["difference"])

Diferencia entre PIB promedio y gasto en salud de bolsillo promedio por idioma:
official_language
Afrikaans            3.514316e+11
Albanian             1.527808e+10
Amharic              9.610766e+10
Arabic               1.366153e+11
Armenian             1.367280e+10
                         ...
Tuvaluan Language    4.727146e+07
Ukrainian            1.537811e+11
Urdu                 3.044000e+11
Uzbek                5.792129e+10
Vietnamese           2.619212e+11
Name: difference, Length: 76, dtype: float64

8. ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:

- Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

- Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

- Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.

- Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

In [62]:
maternal_promedio = df.groupby("Continent")["maternal_mortality_ratio"].mean()
print("Tasa de maternidad promedio por continente:")
print(maternal_promedio)

Tasa de maternidad promedio por continente:
Continent
América         80.151515
Asia            77.478261
Asia/Europa     17.000000
Europa           7.486486
Europa/Asia     17.000000
Oceanía         64.500000
África         418.000000
Name: maternal_mortality_ratio, dtype: float64

In [63]:
tax_promedio = df.groupby("Continent")["total_tax_rate"].mean()
print("\nTasa de impuestos total promedio por continente:")
print(tax_promedio)

Tasa de impuestos total promedio por continente:
Continent
América        45.161765
Asia           31.802273
Asia/Europa    42.300000
Europa         38.453846
Europa/Asia    46.200000
Oceanía        39.516667
África         47.770588
Name: total_tax_rate, dtype: float64

In [64]:
relacion_mater_tax = maternal_promedio / tax_promedio
print("\nRelación entre tasa de maternidad y tasa de impuestos total por continente:")
print(relacion_mater_tax)

Relación entre tasa de maternidad y tasa de impuestos total por continente:
Continent
América        1.774765
Asia           2.436249
Asia/Europa    0.401891
Europa         0.194688
Europa/Asia    0.367965
Oceanía        1.632223
África         8.750154
dtype: float64

In [65]:
df["maternal_per_tax"] = df["maternal_mortality_ratio"] / df["total_tax_rate"]


pais_max_mater_tax = df.loc[df["maternal_per_tax"].idxmax(), ["country", "Continent", "maternal_per_tax"]]
print("\nPaís con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total:")
print(pais_max_mater_tax)

País con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total:
country             Lesotho
Continent            África
maternal_per_tax       40.0
Name: 95, dtype: object

9. Ejercicios **bonus** groupby:

- ¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.

- ¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?

In [69]:

promedios = df.groupby("Continent")[["total_tax_rate", "unemployment_rate"]].mean()


promedios["difference"] = promedios["total_tax_rate"] - promedios["unemployment_rate"]

print("Diferencia entre tasa de impuestos total y tasa de desempleo promedio por continente:")
print(promedios)

Diferencia entre tasa de impuestos total y tasa de desempleo promedio por continente:
             total_tax_rate  unemployment_rate  difference
Continent
América           45.161765           7.994839   37.166926
Asia              31.802273           5.488478   26.313794
Asia/Europa       42.300000          13.490000   28.810000
Europa            38.453846           6.696216   31.757630
Europa/Asia       46.200000           4.590000   41.610000
Oceanía           39.516667           3.793750   35.722917
África            47.770588           7.884902   39.885686