****Pair Nulos****

In [1]:
import pandas as pd
import numpy as np


from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

import seaborn as sns
import matplotlib.pyplot as plt


pd.set_option('display.max_columns', None)

***Ejercicios gestión de nulos***

El objetivo del ejercicio es identificar las columnas que contienen valores nulos y aplicar un proceso de imputación para manejarlos de manera adecuada.

Instrucciones:

1. **Identificación de Valores Nulos:** Identifica todas las columnas que contengan valores nulos en el DataFrame.

In [3]:
df_nulos = pd.read_csv("file/world_data_full_apply.csv")
df_nulos

,Unnamed: 0,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,33.939110,67.709953,Asia
1,1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331,Europe
2,2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.006,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,NaN,41.2,37.2,66.1,11.70,NaN,28.033886,1.659626,Africa
3,3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.000,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77.142,NaN,NaN,NaN,NaN,67.873,42.506285,1.521801,Europe
4,4,Angola,26.0,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.693,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,NaN,77.5,9.2,49.1,6.89,NaN,-11.202692,17.873887,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,Venezuela,32.0,VE,24.5,912.050,343.0,17.88,58.0,Caracas,164.175,NaN,254.9,VED,2.27,52.7,0.00,4.823593e+11,97.2,79.3,21.4,Caracas,72.1,125.0,0.01,Spanish,45.8,1.92,NaN,59.7,NaN,73.3,8.80,NaN,6.423750,-66.589730,South America
191,191,Vietnam,314.0,VN,39.3,331.210,522.0,16.75,84.0,Hanoi,192.668,163.52,2.8,VND,2.05,48.1,0.80,2.619212e+11,110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.5,0.82,NaN,77.4,19.1,37.6,2.01,NaN,14.058324,108.277199,Asia
192,192,Yemen,56.0,YE,44.6,527.968,40.0,30.45,967.0,Sanaa,10.609,157.58,8.1,YER,3.79,1.0,0.92,2.691440e+10,93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.0,0.31,NaN,38.0,NaN,26.6,12.91,NaN,15.552727,48.516388,Asia
193,193,Zambia,25.0,ZM,32.1,752.618,16.0,36.19,260.0,Lusaka,5.141,212.31,9.2,ZMW,4.63,65.2,1.40,2.306472e+10,98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.5,1.19,NaN,74.6,16.2,15.6,11.43,NaN,-13.133897,27.849332,Africa
194,194,Zimbabwe,38.0,ZW,41.9,390.757,51.0,30.68,263.0,Harare,10.983,105.51,0.9,NaN,3.62,35.5,1.34,2.144076e+10,109.9,10.0,33.9,Harare,61.2,458.0,NaN,Shona,25.8,0.21,NaN,83.1,20.7,31.6,4.95,NaN,-19.015438,29.154857,Africa

In [4]:
df_nulos.head()

,Unnamed: 0,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,33.939110,67.709953,Asia
1,1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331,Europe
2,2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.006,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,NaN,41.2,37.2,66.1,11.70,NaN,28.033886,1.659626,Africa
3,3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.000,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77.142,NaN,NaN,NaN,NaN,67.873,42.506285,1.521801,Europe
4,4,Angola,26.0,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.693,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,NaN,77.5,9.2,49.1,6.89,NaN,-11.202692,17.873887,Africa

In [6]:
df_nulos.isna().sum()/df_nulos.shape[0]*100

Unnamed: 0                               0.000000
country                                  0.000000
density                                  0.000000
abbreviation                             3.589744
agricultural_land                        3.589744
land_area                               15.384615
armed_forces_size                       14.871795
birth_rate                               3.076923
calling_code                             0.512821
capital/major_city                       1.538462
co2-emissions                            6.153846
cpi                                     10.256410
cpi_change                               8.205128
currency-code                            7.692308
fertility_rate                           3.589744
forested_area                            3.589744
gasoline_price                          10.256410
gdp                                      1.025641
gross_primary_education_enrollment       3.589744
gross_tertiary_education_enrollment      6.153846
infant_mortality                         3.076923
largest_city                             3.076923
life_expectancy                          4.102564
maternal_mortality_ratio                 7.179487
minimum_wage                            23.076923
official_language                        2.564103
out_of_pocket_health_expenditure         3.589744
physicians_per_thousand                  3.589744
population                              80.000000
population_labor_force_participation     9.743590
tax_revenue                             13.333333
total_tax_rate                           6.153846
unemployment_rate                        9.743590
urban_population                        76.923077
latitude                                 0.512821
longitude                                0.512821
continent                                0.512821
dtype: float64

In [7]:
df_nulos.describe(include="O").T

                   count unique          top freq
country              195    195  Afghanistan    1
abbreviation         188    188           AF    1
capital/major_city   192    192        Kabul    1
currency-code        180    133          EUR   23
largest_city         189    188        S����    2
official_language    190     76      English   31
continent            194      7       Africa   53

In [8]:
df_nulos["continent"].value_counts(dropna=True, normalize=True)*100

continent
Africa             27.319588
Europe             24.226804
Asia               23.195876
Central America    10.309278
Oceania             7.216495
South America       6.701031
North America       1.030928
Name: proportion, dtype: float64

In [10]:
df_nulos[["continent", "country"]].isna().sum()

continent    1
country      0
dtype: int64

In [11]:
mask = df_nulos[["continent", "country"]].isna()
filas_con_nulos = df_nulos[mask.any(axis=1)]
filas_con_nulos

,Unnamed: 0,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
150,150,S�����������,228.0,ST,50.7,964.0,1.0,31.54,239.0,S����,121.0,185.09,7.9,STN,4.32,55.8,NaN,429016605.0,106.8,13.4,24.4,S����,70.2,130.0,NaN,NaN,11.7,0.05,215.056,57.8,14.6,37.0,13.37,158.277,NaN,NaN,NaN

In [12]:
df_nulos["capital/major_city"].value_counts(dropna=False, normalize=True)*100

capital/major_city
NaN                 1.538462
Tirana              0.512821
Algiers             0.512821
Andorra la Vella    0.512821
Luanda              0.512821
                      ...
Caracas             0.512821
Hanoi               0.512821
Sanaa               0.512821
Lusaka              0.512821
Harare              0.512821
Name: proportion, Length: 193, dtype: float64

In [14]:
df_nulos["currency-code"].value_counts(dropna=True, normalize=True)*100

currency-code
EUR    12.777778
XOF     4.444444
XCD     3.333333
USD     3.333333
XAF     2.777778
         ...
VUV     0.555556
VED     0.555556
VND     0.555556
YER     0.555556
ZMW     0.555556
Name: proportion, Length: 133, dtype: float64

In [ ]:
df_nulos[["continent", "currency-code"]].isna()

     continent  currency-code
0        False          False
1        False          False
2        False          False
3        False          False
4        False          False
..         ...            ...
190      False          False
191      False          False
192      False          False
193      False          False
194      False           True

[195 rows x 2 columns]

In [18]:
#1. Crear máscara para identificar nulos en 'currency-code'
mascara_nulos = df_nulos['currency-code'].isna()

# 2. Filtrar el dataframe para quedarte solo con los registros nulos
registros_nulos = df_nulos[mascara_nulos]

# 3. Agrupar por 'country' y 'continent' para contar nulos por grupo
patron = registros_nulos.groupby(['country', 'continent']).size().reset_index(name='cantidad_nulos')

# 4. Mostrar los países y continentes con nulos en 'currency-code'
print("Países y continentes con nulos en currency-code:")
print(patron)

Países y continentes con nulos en currency-code:
                           country        continent  cantidad_nulos
0                           Bhutan             Asia               1
1                         Cambodia             Asia               1
2         Central African Republic           Africa               1
3                      El Salvador  Central America               1
4                         Eswatini           Africa               1
5                            Japan             Asia               1
6                          Lesotho           Africa               1
7                          Liberia           Africa               1
8                         Maldives             Asia               1
9                          Namibia           Africa               1
10                     Netherlands           Europe               1
11  Palestinian National Authority             Asia               1
12                          Panama  Central America               1
13                     The Bahamas  Central America               1
14                        Zimbabwe           Africa               1

- opción 1:
comparar country con currecy-code. para sustituir lo

Comentarios sobre la jugada que proporcionada:

df.groupby('country')['currency-code'].count() Cuenta cuántos registros no nulos hay en currency-code para cada país. (Si el resultado es 0, significa que todos los registros de ese país son nulos en esa columna.)

monedas_asignadas[monedas_asignadas == 0].index.tolist() Filtra solo los países donde el conteo de no nulos es 0 y extrae sus nombres.
Salida Lista los países que no tienen moneda asignada en ningún registro.

In [19]:
# 1. Contar cuántos registros NO son nulos por país
monedas_asignadas = df_nulos.groupby('country')['currency-code'].count()

# 2. Filtrar países donde la cuenta de no nulos es 0 (es decir, todos son nulos)
paises_sin_moneda = monedas_asignadas[monedas_asignadas == 0].index.tolist()

# 3. Mostrar los países sin moneda asignada
print("Países sin moneda asignada:")
print(paises_sin_moneda)

Países sin moneda asignada:
['Bhutan', 'Cambodia', 'Central African Republic', 'El Salvador', 'Eswatini', 'Japan', 'Lesotho', 'Liberia', 'Maldives', 'Namibia', 'Netherlands', 'Palestinian National Authority', 'Panama', 'The Bahamas', 'Zimbabwe']

2. **Selección de Método de Imputación:** Discute en tu compañera cuál sería la mejor estrategia para manejar los valores nulos en cada una de las columnas identificadas en el paso anterior.

3. **Imputación de Valores Nulos:** Implementa el método de imputación seleccionado en el paso 2 para llenar los valores nulos en las columnas.

4. **Informe:** Añade al final de un jupyter una explicación breve que describa las columnas que tenían valores nulos, cómo decidiste imputarlos y cualquier observación adicional que consideres importante sobre el proceso de limpieza de datos.

**Nota:**  Puedes utilizar cualquier método o estrategia de imputación que consideres adecuado para los datos y discutir las ventajas y desventajas de tu elección en el informe.