### PAIR

#### **UNION Y LIMPIEZA DE DATOS**

Para realizar estos ejercicios deberéis usar el conjunto de datos de world-data-2023-part1.csv y el de world-data-2023-part2.csv.

In [50]:
import pandas as pd
import numpy as np

1. Explora y carga ambos conjuntos de datos en pandas DataFrames.

In [51]:
df1 = pd.read_csv("world-data-2023_part1.csv", index_col = 0)
df2 = pd.read_csv("world-data-2023_part2.csv", index_col = 0)

In [52]:
df1.head(1)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70

In [53]:
df2.head(1)

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"

2. Identifica las columnas comunes entre los dos conjuntos de datos.

In [54]:
# COUNTRY es la columna en comun entre las 2 tablas:

df2.columns

Index(['GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'country',
       'coordinates'],
      dtype='object')

3. Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

In [55]:
df_merged = pd.merge(df1, df2,
    left_on="Country",
    right_on="country",
    how="inner")

df_merged.head(4)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"

- `pd.merge()` permite unir DataFrames usando columnas comunes (o índices), exactamente como un JOIN en SQL


| Método       | Qué hace                                                            | Nota                                                     |
| ------------ | ------------------------------------------------------------------- | -------------------------------------------------------- |
| `pd.merge()` | Unión flexible por columnas (simula INNER, LEFT, RIGHT, OUTER JOIN) | Recomendado para unir por cualquier columna              |
| `df.join()`  | Une por **índices** por defecto                                     | Menos flexible si quieres unir por columnas no indexadas |

4. Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

Se eligió el método **pd.merge()** de Pandas con la opción **how="inner"**. La razón principal es que necesitamos unir ambos DataFrames utilizando la columna común **"country"**, y queremos mantener únicamente los registros que estén presentes en ambos conjuntos de datos. Esto garantiza que la información combinada sea completa y consistente para cada país.

#### **EJERCICIOS DE LIMPIEZA**

1. Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [56]:
df_merged = df_merged.drop(columns=["country"])

In [57]:
df_merged.head(1)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"

2. Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

- No tengan espacios.

- Estén en minúscula.

- No tengan paréntesis, es decir, quitar "(%)", "(Km2)".

- Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

- Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [58]:
# Limpiar nombres de columnas
df_merged.columns = (df_merged.columns
    .str.strip()                          # eliminar espacios al inicio y final
    .str.replace(" ", "_", regex=False)   # reemplazar espacios por _
    .str.lower()                          # pasar a minúsculas
    .str.replace(r"\(.*?\)", "", regex=True)  # eliminar todo lo que esté entre paréntesis
    .str.replace("\n", "", regex=True)    # eliminar saltos de línea
    .str.replace(":", "", regex=True)     # eliminar :
    .str.rstrip("_")                       # eliminar _ al final si los hay
)

# Ver los nuevos nombres
df_merged.columns

Index(['country', 'density', 'abbreviation', 'agricultural_land', 'land_area',
       'armed_forces_size', 'birth_rate', 'calling_code', 'capital/major_city',
       'co2-emissions', 'cpi', 'cpi_change', 'currency-code', 'fertility_rate',
       'forested_area', 'gasoline_price', 'gdp',
       'gross_primary_education_enrollment',
       'gross_tertiary_education_enrollment', 'infant_mortality',
       'largest_city', 'life_expectancy', 'maternal_mortality_ratio',
       'minimum_wage', 'official_language', 'out_of_pocket_health_expenditure',
       'physicians_per_thousand', 'population',
       'population_labor_force_participation', 'tax_revenue', 'total_tax_rate',
       'unemployment_rate', 'urban_population', 'coordinates'],
      dtype='object')

3. La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [62]:
df_merged[["coordinates"]]

                      coordinates
0      ('33.93911 ', '67.709953')
1     ('41.153332 ', '20.168331')
2      ('28.033886 ', '1.659626')
3      ('42.506285 ', '1.521801')
4    ('-11.202692 ', '17.873887')
..                            ...
190     ('6.42375 ', '-66.58973')
191  ('14.058324 ', '108.277199')
192   ('15.552727 ', '48.516388')
193  ('-13.133897 ', '27.849332')
194  ('-19.015438 ', '29.154857')

[195 rows x 1 columns]

In [65]:
# Quitar los parentesis antes de dividir en 2 columnas
df_merged["coordinates"] = df_merged["coordinates"].str.replace("[()]", "", regex=True)

# Separar la columna coordinates en latitude y longitude
df_merged[["latitude", "longitude"]] = df_merged["coordinates"].str.split(",", expand=True)

df_merged = df_merged.drop(columns=["coordinates"])

# Ver resultado
df_merged.head(2)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,...,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",'33.93911 ','67.709953'
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",'41.153332 ','20.168331'

4. Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [66]:
clean_column = ["unemployment_rate", "total_tax_rate", "tax_revenue", "population_labor_force_participation", "out_of_pocket_health_expenditure", "gross_tertiary_education_enrollment", "gross_primary_education_enrollment", "forested_area", "cpi_change", "agricultural_land"]


for col in clean_column:
    df_merged[col] = df_merged[col].str.replace("%", "", regex=False)

In [ ]:
# los VALORES de las columnas ya no aparecen con los %
df_merged.head(1)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,...,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",'33.93911 ','67.709953'